@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Dosis:wght@200;300;400&family=Kanit:wght@500&family=Maven+Pro:wght@500&family=Play&family=Poppins:wght@100;200;400&family=Raleway:wght@300;400;500&family=Ysabeau&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,300;0,400;0,700;1,1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ysabeau", sans-serif;
}